<div class="row">
  <div class="col-12">
    <h1 class="mb-4">ダッシュボード</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ようこそ</h5>
        <p class="card-text">
          <%= current_user.name.presence || current_user.email %> さん
        </p>
        <%= link_to "新規アップロード", new_image_group_path, class: "btn btn-primary" %>
        <%= link_to "アップロード一覧", image_groups_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          管理者メニュー
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to "ユーザ一覧", admin_users_path %></li>
          <li class="list-group-item"><%= link_to "画像一覧", admin_images_path %></li>
          <li class="list-group-item"><%= link_to "認証設定", edit_admin_auth_settings_path %></li>
          <li class="list-group-item"><%= link_to "IdP 設定", admin_identity_providers_path %></li>
          <li class="list-group-item"><%= link_to "OCR 設定", edit_admin_ocr_settings_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
