<h1>画像アップロード</h1>

<%= form_with url: image_groups_path, method: :post, multipart: true do |f| %>
  <div>
    <label for="name">グループ名（省略可）</label><br>
    <%= text_field_tag :name, nil, placeholder: "空欄の場合は日時が設定されます" %>
  </div>

  <div>
    <label for="images">画像ファイル（複数選択可）</label><br>
    <%= file_field_tag "images[]", multiple: true, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "アップロード" %>
  </div>
<% end %>

<p><%= link_to "一覧に戻る", image_groups_path %></p>
